.footer {
  font-family: Georgia, "Times New Roman", Times, serif;
  position: fixed;
  color: rgb(249, 252, 255);
  font-size: 1.7rem;
  bottom: 0;
  text-align: center;

  .footer-link {
    color: rgb(43, 54, 49);
  }
}
