.footer {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: fixed;
  padding-top: 60rem;
  color: rgb(249, 252, 255);
  text-align: center;
  align-content: center;
  font-size: 1.7rem;

  .footer-link {
    color: rgb(43, 54, 49);
  }
}
