// font colors

// primary
$Dark_cyan: hsl(185, 75%, 39%);
$Very_dark_desaturated_blue: hsl(229, 23%, 23%);
$Dark_grayish_blue: hsl(227, 10%, 46%);

// Neutral
$Dark_gray: hsl(0, 0%, 59%);
$light_gray: hsl(0, 0%, 85%);
// font sizes
$text_size_1: 1.2rem; //(name and stats)
